<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>TODOServlet</servlet-name>
    <servlet-class>ru.job4j.controller.TODOServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CloseTaskServlet</servlet-name>
    <servlet-class>ru.job4j.controller.CloseTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TODOAllItemsServlet</servlet-name>
    <servlet-class>ru.job4j.controller.TODOAllItemsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TODOServlet</servlet-name>
    <url-pattern>/todo-it</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseTaskServlet</servlet-name>
    <url-pattern>/todo-close-task</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TODOAllItemsServlet</servlet-name>
    <url-pattern>/todo-all-items</url-pattern>
  </servlet-mapping>
  
</web-app>
